.category-box-inner {
    .category-box-heading {
        position: relative;
        text-align: center;
    }

    .category-details .subcategory {
    min-height: 29.5px;
    text-align: center;
    position: relative;
    width: 100%;
    clear: both;
  }

  .badge-notification.new-posts {
      background-color: #6cf;
      color: #fff;
      font-weight: bold;
      z-index: 10;
      box-shadow: -9px 2px 7px 3px #fff;
  }
}

.subcategory {
    .new-posts {
        position: absolute;
        right: 6px;
        top: 6px;
    }
}
